ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C4670;
}

li a {
    display: block;
    color: #EAEAE0;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

li {
    float: right;
}

li a:hover:not(.active) {
    background-color: #1DC690;
}

.active {
    background-color: #D4F1F4;
    color:black;
}

#event_description {
    text-align: center;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#kombajn_logo_discord {
    margin-left: 50px;
    margin-top: 5px;
    height: 65px;
}

#kombajn_poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#sponsors_description {
    text-align: right;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 45px;
}